body {
    background-color: rgb(245, 184, 160);
}
 h1, h2{
    color: rgb(209, 87, 73);
    font-family: "Lucida Handwriting", Cursive;
 }

p{
    color: rgb(221, 87, 38);
}

.image{
    border: 5px solid rgb(252, 119, 71);
    border-radius: 10px;
    height: 400px;
    padding: 10px 10px;
}

.link-button {
    text-decoration: none;
    color: salmon;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    border-color: coral;
}

button:hover{
    cursor: pointer;
    color: black;
    border: 4px double;
}